<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328191636715-9m33algdbgcg2heubbs7t8psqs79quu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328191636715-9m33algdbgcg2heubbs7t8psqs79quu3</string>
	<key>API_KEY</key>
	<string>AIzaSyAq7At_MEciIJE42jfc9HtcTmP_hwn-xlk</string>
	<key>GCM_SENDER_ID</key>
	<string>328191636715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sungtae.familydiary</string>
	<key>PROJECT_ID</key>
	<string>familydiary-70d88</string>
	<key>STORAGE_BUCKET</key>
	<string>familydiary-70d88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328191636715:ios:984bb76bf8746db5807aae</string>
	<key>DATABASE_URL</key>
	<string>https://familydiary-70d88.firebaseio.com</string>
</dict>
</plist>